body {
    background-color: #d0e4fe;
}
#p1 {
	position:fixed;
	top:50%;
	left:50%;
}
#p1-avatar {
	position: fixed;
	z-index:3;
	top:20px;
	left:20px;
	border:1px solid grey;
}

#dust {
	position: fixed;
	top:0px;
	left:-100px;
	z-index:1;
}

#stamina {
	position:fixed;
	top:64px;
	left:110px;
	z-index:2;
	background:#ffff00;
	/* border:2px solid grey; */
	border-right: 0px;
	width:300px;
	height:20px;
	color:#999999;
	overflow:hidden;
	text-overflow:initial;
	
}

#staminaEnd {
	position:fixed;
	left:109px;
	top:63px;
	height:20px;
	width:300px;
	/*background:#f2f20d;*/
	background:#737373;
	border:1px solid gray;
	z-index:1;
}

#lblstamina{
	position:fixed;
	left:110px;
	top:48px;
	font-family:consolas;
	font-size:14px;
}

#debug {
	position:fixed;
	margin-left:100%-160px;
	z-index:100;
	background-color: rgba(255,255,255,0.7);
	padding:10px;
	font-weight:bold;
	border:solid 1px rgba(0,0,0,0.7);
}